body{
  background-color: #cffffe;
}

h1{
  color:#ffc1f3;
}
h3{
  color: #ffc1f3;
  text-align: center;
}
.light{
  border-color: #ffc1f3;
}
.thick{
  border-color:  #ffc1f3;
  border-width:  2px;
}
