body{
  background-color: #ffdbc5;
}

h1{
  color:#423144;
}
h3{
  color: #cf1b1b;
  text-align: center;
}
.light{
  border-color: #900d0d;
}
.thick{
  border-color:  #900d0d;
  border-width:  2px;
}
